<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Movimentos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Registrar Movimento</h1>
		<form action="/movimento/registrar" method="post" th:object="${movimento}">
			<div class="form-row">
				<div class="col">
					<label>Descrição: </label> 
					<input type="text" name="descricaoMovimento" class="form-control" required/>
				</div>
				<div class="col">
					<label>Valor: </label> 
					<input type="text" id="valorMovimento" name="valorMovimento" class="form-control" required/>
				</div>
				<div class="col">
					<label data-toggle="modal" data-target="#modalTipoGasto">Tipo: </label> 
					<select class="form-control" th:field="*{tipoGastoId}"  id="tipoGastoId">
    					<option th:each="tipo : ${tiposGastos}" th:value="${tipo.id}" th:text="${tipo.descricao}" ></option>
    				</select>
				</div>
				<div class="col">
					<label data-toggle="modal" data-target="#modalCaixa">Caixa: </label> 
					<select class="form-control" th:field="*{caixaId}"  id="caixaId">
    					<option th:each="caixa : ${caixas}" th:value="${caixa.id}" th:text="${caixa.descricao}" ></option>
    				</select>
				</div>
				<div class="col">
					<label>Data movimento: </label> 
					<input type="date" name="dataMovimento" class="form-control" />
				</div>
				
			</div>
			<button type="submit" class="btn btn-success" style="margin-top:4px;">Registrar</button>
			<a th:href="${(#mvc.url('MC#listar')).build()}" style="margin-top:4px;" class="btn btn-primary">Voltar</a>
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	
</body>
	<div class="modal fade" id="modalTipoGasto" tabindex="-1" aria-labelledby="tipoGastoModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="tipoGastoModalLabel">Tipo de Gasto</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="/tipogasto/cadastrar" method="post">
		      <div class="modal-body">
		        	<div class="form-row">
						<div class="col">
							<label>Descrição: </label> 
							<input type="text" name="descricao" class="form-control" required/>
						</div>
					</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		        <button type="submit" class="btn btn-primary">Salvar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="modalCaixa" tabindex="-1" aria-labelledby="modalCaixaLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalCaixaLabel">Cadastrar caixa</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form action="/caixa/criar" method="post">
		      <div class="modal-body">
		        	<div class="form-row">
						<div class="col">
							<label>Descrição: </label> 
							<input type="text" name="descricao" class="form-control" required/>
						</div>
						<div class="col">
							<label>Valor: </label> 
							<input type="text" id="valorCaixa" name="valorCaixa" class="form-control" required/>
						</div>
					</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		        <button type="submit" class="btn btn-primary">Salvar</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>

	

</html>

<script th:src="@{/js/jquery.maskMoney.js}"></script>

<script>
    $(document).ready(function()
    {
        $("#valorMovimento").maskMoney({
            prefix: "R$",
            decimal: ",",
            thousands: "."
        });
        
        $("#valorCaixa").maskMoney({
            prefix: "R$",
            decimal: ",",
            thousands: "."
        });
    });

</script>

