<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Relação de movimentos</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
</head>
<body>
	<h1>Gastos</h1>

	<a th:href="@{/movimento/registrar}" class="btn btn-success">Adicionar gasto</a>
	<div style="margin-top:20px;">
		<label>Valor total: </label>
		<label id="valorTotal" th:classappend="${valortotal > 500.0 ? 'valorNegativo' : 'valorPositivo'}" th:text="'R$ ' + ${#numbers.formatDecimal(valortotal, 1, 'DEFAULT', 2, 'DEFAULT')}"></label>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Data inicial: </label> 
			<input type="date" id="dataInicial" class="form-control" required/>
		</div>
		<div class="col-md-3">
			<label>Data final: </label> 
			<input type="date" id="dataFinal" class="form-control" required/>
		</div>
		<div class="col-md-3">
			<label>Tipo gasto: </label> 
			<select class="form-control" th:field="*{tipoGastoId}" id ="idTipoGasto">
				<option value="">Selecione o tipo de gasto</option>
    			<option th:each="tipo : ${tiposgastos}" th:value="${tipo.id}" th:text="${tipo.descricao}" ></option>
    		</select>
		</div>
		<div class="col-md-3">
			<label></label>
			<button type="button" style="size:4px;" class="btn btn-success form-control" onclick="return obterMovimentosPorData();">Pesquisar</button>
		</div>
	</div>
	</br>
	<table id="movimentos" class="table table-bordered table-condensed table-hover" style="width:100%">
		<thead>
			<tr>
				<th>Descrição</th>
				<th>Valor</th>
				<th>Tipo</th>
				<th>Caixa</th>
				<th>Data</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="movimento : ${movimentos}">
				<td th:text="${movimento.descricaoMovimento}"></td>
				<td th:text="'R$ ' + ${#numbers.formatDecimal(movimento.valor, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
				<td th:text="${movimento.tipoGastoDomain.descricao}"></td>
				<td th:text="${movimento.caixaDomain.descricao}"></td>
				<td th:text="${#temporals.format(movimento.dataMovimento, 'dd/MM/yyyy')}"></td>
			</tr>
		</tbody>
		<tfoot>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Caixa</th>
            	<th>Data</th>
            </tr>
        </tfoot>
	</table>
	
		
</body>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/datetime-moment.js}"></script>
	<script th:src="@{/js/sweetalert.min.js}"></script>
</html>
<script>
	$(document).ready(function(){
		$.fn.dataTable.moment('DD/MM/YYYY');
    	$('#movimentos').DataTable({
    		order: [ [4, "desc"] ],
    		"language": {
	            "lengthMenu": "Exibição _MENU_ registros por página",
	            "zeroRecords": "Nenhum registro encontrado - desculpe",
	            "info": "Exibindo página _PAGE_ de _PAGES_",
	            "infoEmpty": "Não há registros disponíveis",
	            "infoFiltered": "(Filtrado de _MAX_ total registros)",
	            "search":         "Procurar:",
	            "paginate": {
			        "first":      "Primeiro",
			        "last":       "Último",
			        "next":       "Próximo",
			        "previous":   "Anterior"
			    },
        	}
    	
    	});
	} );
	
	function obterMovimentosPorData(){
		let tipoGastoId = $("#idTipoGasto").val();
		let dataInicial = $("#dataInicial").val();
		let dataFinal = $("#dataFinal").val();
		
		
		if(!validarParametros(dataInicial, dataFinal, tipoGastoId)){
			swal("Falha ao consultar por parâmetros", "Defina algum parâmetro válido para consulta", "error");
			return false;
		}	
		
		$.ajax({
        type: "GET",
        async: false,
        url: "/movimento/movimentosPorParametros",
        content: "application/json; charset=utf-8",
        dataType: "json",
        data: { dataInicial, dataFinal, tipoGastoId},
        success: function (response) {
        	if(response.length != 0){
        		montarTabelaComDadosObtidos(response);
        	}
            else{
            	swal("Atenção", "Nenhum registro encontrado", "warning");
            }
        },
        error: function (xhr, textStatus, errorThrown) {
            alert("Error");

        }
      });
	}
	
	function montarTabelaComDadosObtidos(movimentos){
		$("table tbody").remove();
		let valorTotalGastos = 0;
		$("table").append("<tbody>");
		movimentos.forEach(function(movimento){
			valorTotalGastos += movimento.valor;
			$("table tbody").append(adicionaTr(movimento));
		});
		$("table").append("</tbody>");
		setarTotalizadorGastos(valorTotalGastos);
		
	}
	
	function setarTotalizadorGastos(gastos){
		if(gastos == 0){
			return true;
		}
		$("#valorTotal").text(gastos);
		
		setarCorTotalizador(gastos);
		
	}
	
	function setarCorTotalizador(gastos){
		if(gastos > 500){
			$("#valorTotal").removeClass("valorPositivo");
			$("#valorTotal").addClass("valorNegativo");
			
		}else{
			$("#valorTotal").removeClass("valorNegativo");
			$("#valorTotal").addClass("valorPositivo");
		}
	}
	function adicionaTr(movimento){
		let linha = $("<tr>");
		
		linha.append(adicionaColuna(movimento.descricaoMovimento, 'OUTRO'));
		linha.append(adicionaColuna(movimento.valor, 'VALOR'));
		linha.append(adicionaColuna(movimento.tipoGastoDomain.descricao, 'OUTRO'));
		linha.append(adicionaColuna(movimento.caixaDomain.descricao, 'OUTRO'));
		linha.append(adicionaColuna(movimento.dataMovimento, 'DATA'));
		
		linha.append("</tr>")
		
		return linha;
	}
	
	function adicionaColuna(registro){
		let coluna = "<td>";
		coluna += registro;
		coluna += "</td>";
		return coluna;
	}
	
	function validarParametros(dataInicial, dataFinal, tipoGastoId){
		if((dataInicial == "" || dataFinal == "") && tipoGastoId == ""){
			return false;
		}
		
		
		if(dataInicial > dataFinal){
			return false;		
		}
		
		return true;
	}
</script>
<style>
		.valorNegativo {
			color:red;
		}
		
		.valorPositivo {
			color:green;
		}
</style>