<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Movimentos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Depósito</h1>
		<form action="/caixa/depositar" method="post" th:object="${caixaDTO}">
			<div class="form-row">
				<div class="col">
					<label>Valor: </label> 
					<input type="text" id="valorCaixa" name="valorCaixa" class="form-control" required/>
				</div>
				<div class="col">
					<label>Caixas: </label> 
					<select class="form-control" th:field="*{id}"  id="id">
    					<option th:each="caixa : ${caixas}" th:value="${caixa.id}" th:text="${caixa.descricao}" ></option>
    				</select>
				</div>
			</div>
			<button type="submit" class="btn btn-success" style="margin-top:4px;">Depositar</button>
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	
</body>
</html>

<script th:src="@{/js/jquery.maskMoney.js}"></script>

<script>
    $(document).ready(function()
    {
        $("#valorCaixa").maskMoney({
            prefix: "R$",
            decimal: ",",
            thousands: "."
        });
    });

</script>

